# This is an example .env file. Copy this to .env and fill in the values.

# PostgreSQL connection settings
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# The DATABASE_URL is used by Prisma to connect to the PostgreSQL database. It should be in the format:
# postgresql://USER:PASSWORD@HOST:PORT/DB_NAME?schema=public
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DB_NAME?schema=public

# Set the NODE_ENV to "development" for local development. In production, this should be set to "production".
NODE_ENV=development
PORT=3000

JWT_SECRET_KEY=